#logo{
    position:fixed;
    left:0;
    top:0;
}


body
{
	margin: 2	em; padding: 0;
	background: #212121;
	text-align: center;
	font: 12pt sans-serif; color:  #57d9A3;
	line-height: 130%;
	
}