@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

*
{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#logo{ 
	position:static;
	top: 60px;; 
	left: 20; 
} 


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #020202;
}


.wrapper{
    display: flex;
}

.wrapper .first-text{
    font-size: 60px;
    color:#fff ; 
}

.wrapper .sec-texts {
    height: 90px;
    line-height: 90px;
    overflow: hidden    ;
}

.sec-texts li {
    position: relative;
    top: 0;
    font-size: 60px;
    color: aqua;
    list-style: none;
    padding: 0 20px;
    text-shadow: 0 0 10px #0ef;
    animation: slide 24s steps(4) infinite , colorful 6s infinite;
}
@keyframes slide{
    100% {
        top: -360px
    }
}

@keyframes colorful{
    100%{
        filter:hue-rotate(360deg);
    }
}

.sec-texts li span {
    position: relative;
}

.sec-texts li span::before{
    content: '';
    position: absolute;
    left: 0;
    width: 400px;
    height: 90px;
    background:  #020202;
    border-left : 2px solid #0ef;
    animation: typing 3s steps(10) infinite
    alternate;
}

@keyframes typing {
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
    }   
}

button{
    background-color: transparent;
    height: 100px;
    width: 100px;
    color: aliceblue;
    border: 3px solid #00d7c3;
    border-radius: 50px;
    align-items: bottom;
    float: left;
    
}

.button-1 {
    width: 170px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    color: #f6e5e5;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    display: inline-block;

}
.button-1:hover {
  box-shadow: 0 0 10px 0 #00d7c3 inset, 0 0 20px 2px #00d7c3;
  border: 3px solid #00d7c3;
}

/*.text {
	background: linear-gradient(-45deg, #6355a4, #6355a4, #e89a3e, #e89a3e);
	background-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 .5em .5em; padding: .5em .75em;
	font-weight: 900;
	font-size: 5vw;
	letter-spacing: -5px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}*/ 

